/*@font-face {
	font-family: CalSans;
	font-display: swap;
	src: url(../fonts/CalSans-SemiBold.woff2) format("woff2", url("../fonts/CalSans-SemiBold.woff") format("woff"));
	font-weight: 400;
	font-style: normal;
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
}
/*------------------------------------------------------------------*/
.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.current {
  font-weight: 600;
}
.header {
}
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header-item {
}
.header-link {
  line-height: 1.75;
  color: #22343d;
}
.header-buttons {
  display: flex;
}
.sign-in {
  padding: 9px 24px;
  background-color: #ffffff;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #173a56;
}
.sign-up {
  padding: 9px 24px;
  background-color: #02897a;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}
