/*@font-face {
	font-family: CalSans;
	font-display: swap;
	src: url(../fonts/CalSans-SemiBold.woff2) format("woff2", url("../fonts/CalSans-SemiBold.woff") format("woff"));
	font-weight: 400;
	font-style: normal;
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
p {
	margin: 0;
}
a {
	text-decoration: none;
	color: currentColor;
}
ul,
ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
button {
	cursor: pointer;
	border: none;
	padding: 0;
	font-family: inherit;
}
body {
	font-family: "Poppins", sans-serif;
	background-color: #ffffff;
}
:root {
	--green-color: #02897a;
	--logo-color: #173a56;
	--text-color: #22343d;
	--btn-color-text: #ffffff;
	--btn-hover-color: #4e7ba0;
	--btn-active-color: #3e4449;
	--sm-color: #ffffff;
	--sm-hover-bg: #ccc7c7;
}

:root .dark-mode {
	--dark-bg-color: #2b2929;
	--green-color: #02897a;
	--logo-color: #265379;
	--text-color: #e2dddd;
}
/*------------------------------------------------------------------*/
.dark-mode {
	background-color: var(--dark-bg-color);
	color: #ffffff;
}

.container {
	width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}
.current {
	font-weight: 600;
}

.category-title {
	font-size: 32px;
	line-height: 1.5;
	color: var(--text-color);
	margin-bottom: 25px;
}
.category-subtitle {
	font-weight: 600;
	line-height: 1.5;
	color: var(--text-color);
}
.category-text {
	max-width: 486px;
	line-height: 1.62;
	color: var(--text-color);
}
.category-name {
	font-weight: 600;
	line-height: 1.62;
	color: var(--text-color);
}
.margin8 {
	margin-bottom: 8px;
}
.margin30 {
	margin-bottom: 30px;
}
.margin12 {
	margin-bottom: 12px;
}
.margin25 {
	margin-bottom: 25px;
}
.margin40 {
	margin-bottom: 40px;
}
.switcher.light {
	display: none;
}
.dark .switcher.dark {
	display: none;
}

.dark .switcher.light {
	display: block;
}
/*------------------------------------------------------------------*/
.header {
	padding: 19px 0px;
}
.header-nav {
	display: flex;
	justify-content: space-between;
}
.header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 30px;
	line-height: 0.93;
	color: var(--logo-color);
}
.logo-svg {
	margin-right: 16px;
}
.header-box {
	display: flex;
	gap: 24px;
}
.header-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.header-item {
}
.header-link {
	line-height: 1.75;
	color: var(--text-color);
	position: relative;
	transition: all 0.3s ease-in-out;
}
.header-link:hover:after {
	content: "";
	position: absolute;
	left: 0;
	background-color: var(--green-color);
	height: 4px;
	border-radius: 2px;
	display: block;
	width: 100%;
	bottom: -10px;
}
.header-buttons {
	display: flex;
	gap: 24px;
}
.sign-in {
	padding: 9px 24px;
	background-color: var(--bg-color);
	border: 1px solid #bcd0e5;
	border-radius: 4px;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	color: var(--text-color);
	transition: all 0.3s ease-in-out;
}
.sign-in:hover {
	background-color: var(--btn-hover-color);
	color: var(--btn-color-text);
}
.sign-in:active {
	background-color: var(--btn-active-color);
}
.sign-up {
	padding: 9px 24px;
	background-color: var(--bg-color);
	background-color: var(--green-color);
	border-radius: 4px;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	color: var(--btn-color-text);
	transition: all 0.3s ease-in-out;
}

.sign-up:hover {
	background-color: var(--btn-hover-color);
	color: var(--btn-color-text);
}
.sign-up:active {
	background-color: var(--btn-active-color);
}
.switcher {
	background-color: var(--bg-color);
}
.switcher-svg {
	background-color: var(--bg-color);
}
/*------------------------------------------------------------------*/
.hero {
}
.hero-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 0 100px 0;
}
.hero-title {
	max-width: 400px;
	margin-bottom: 18px;
	font-size: 40px;
	line-height: 1.5;
	color: var(--text-color);
}
.hero-text {
	max-width: 465px;
	font-size: 18px;
	line-height: 1.56;
	color: var(--text-color);
	margin-bottom: 45px;
}
.hero-buttons {
	display: flex;
	gap: 30px;
}
.button-start {
	font-weight: 700;
	line-height: 1.5;
	color: var(--btn-color-text);
	background-color: var(--green-color);
	padding: 15px 42px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}
.button-start:hover {
	background-color: var(--btn-hover-color);
}
.button-start:active {
	background-color: var(--btn-active-color);
}
.button-watch {
	font-weight: 600;
	line-height: 1.5;
	color: var(--green-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 9px;
	background-color: var(--bg-color);
	transition: all 0.3s ease-in-out;
}
.button-watch:hover {
	color: #0fb8a4;
	text-decoration-line: underline;
}
.play-svg {
	fill: #02897a;
	transition: all 0.3s ease-in-out;
}
.button-watch:hover .play-svg {
	fill: #0fb8a4;
}
.hero-img {
}
/*------------------------------------------------------------------*/
.built {
	padding-bottom: 50px;
	position: relative;
}
.container {
}
.built::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	height: 100%;
	width: 120%;
	background: linear-gradient(0, #ededed 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}
.built-title {
	margin: 0 auto;
	margin-bottom: 50px;
	max-width: 530px;
	font-size: 32px;
	line-height: 1.5;
	text-align: center;
	color: var(--text-color);
}
.built-list {
	display: flex;
	gap: 30px;
}
.built-item {
}
.built-box-svg {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 19px;
	width: 54px;
	height: 54px;
	margin-bottom: 26px;
}
.built-svg {
	fill: var(--btn-color-text);
}
.built-svg-green {
	background-color: var(--green-color);
}
.built-svg-blue {
	background: #4d8dff;
}
.built-svg-purple {
	background: #740a76;
}
.built-svg-red {
	background: #f03e3d;
}
.built-name {
	margin-bottom: 13px;
	font-weight: 600;
	font-size: 22px;
	line-height: 1.5;
	color: var(--text-color);
}
.built-text {
	max-width: 255px;
	line-height: 1.62;
	color: var(--text-color);
}
.built-button {
	margin-left: 468px;
	margin-top: 50px;
	padding: 15px 34px;
	background-color: var(--green-color);
	border-radius: 4px;
	font-weight: 700;
	line-height: 1.5;
	color: var(--btn-color-text);
	transition: all 0.3s ease-in-out;
}
.built-button:hover {
	background-color: var(--btn-hover-color);
	color: var(--btn-color-text);
}
.built-button:active {
	background-color: var(--btn-active-color);
}
/*------------------------------------------------------------------*/
.management {
	padding-top: 91px;

	padding-bottom: 100px;
}
.management-container {
	display: flex;
	gap: 112px;
}
.management-box {
}

.management-img {
}
/*------------------------------------------------------------------*/

.support {
	padding-bottom: 100px;
}
.support-container {
	display: flex;
	gap: 84px;
}
.support-tick {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	content: "";
	fill: var(--btn-color-text);
	width: 35.07px;
	height: 35px;
	border-radius: 13.8542px;
	background-color: #ff9900;
	margin-right: 30px;
}
.item-red {
	background-color: #f03e3d;
}
.item-blue {
	background-color: #4d8dff;
}
.support-item {
	display: flex;
}
.support-box {
}
.support-subtitle {
}
.support-margin8 {
}
.support-title {
}
.support-text {
}
.support-margin30 {
}
.support-list {
}
.support-item {
}
/*------------------------------------------------------------------*/
.collaborative {
	padding-bottom: 100px;
}
.collaborative-container {
	display: flex;
	gap: 112px;
}
/*------------------------------------------------------------------*/
.process {
	padding-top: 50px;
	padding-bottom: 100px;
	position: relative;
}
.process::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	height: 100%;
	width: 120%;
	background: linear-gradient(179.59deg, #ededed 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.process-box {
	text-align: center;
}
.process-text {
	line-height: 1.62;
	color: var(--text-color);
	width: 525px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.process-reviews {
}
.process-list {
	max-width: 946px;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.process-item {
	width: 408px;
	display: flex;
	gap: 18px;
	position: relative;
	margin-bottom: 25px;
}
.process-item:nth-child(odd) {
	margin-right: 100px;
}
.item-img {
}
.review-img {
}
.item-review-left {
	top: 35px;
	left: 150px;
	position: absolute;
	line-height: 1.5;
	text-align: center;
	color: #2f281e;
}
.item-review-right {
	top: 35px;
	left: 40px;
	position: absolute;
	line-height: 1.5;
	text-align: center;
	color: #2f281e;
}
.process-button {
	margin-top: 25px;
	margin-left: 447px;
	line-height: 1.5;
	padding: 15px 30px;
	color: var(--btn-color-text);
	background: #02897a;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}
.process-button:hover {
	background-color: var(--btn-hover-color);
	color: var(--btn-color-text);
}
.process-button:active {
	background-color: var(--btn-active-color);
}
/*------------------------------------------------------------------*/
.strategies {
	padding-bottom: 110px;
}
.strategies-title {
	font-size: 34px;
	line-height: 1.5;
	color: var(--text-color);
	margin-bottom: 10px;
}

.strategies-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 45px;
}
.strategies-item {
	width: calc((100% - 60px) / 3);
	border: 1px solid #dedede;
	border-radius: 8px;
	padding-bottom: 40px;
}
.item-img {
	margin-bottom: 24px;
}
.item-date {
	padding-left: 24.14px;
	margin-bottom: 12px;
	line-height: 1.75;
	color: var(--text-color);
}
.span-bold {
	font-weight: 700;
}
.strategies-item-title {
	display: block;
	padding-left: 27px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.67;
	color: var(--text-color);
	transition: all 0.3s ease-in-out;
}
.strategies-item:hover .strategies-item-title {
	color: var(--green-color);
}
.strategies-item:hover .strategies-item-title:active {
	color: var(--btn-active-color);
}
.slider-list {
	display: flex;
	gap: 10px;
	justify-content: center;
}
.slider-item {
}
.slider-svg {
	fill: #efefef;
	transition: all 0.3s ease-in-out;
}
.slider-svg:hover {
	fill: var(--green-color);
}
/*------------------------------------------------------------------*/
.price {
	padding-bottom: 100px;
}
.price-title {
	text-align: center;
	font-size: 34px;
	line-height: 1.5;
	color: var(--text-color);
	margin-bottom: 10px;
}
.price-subtitle {
	text-align: center;
	font-weight: 500;
	line-height: 1.5;
	color: var(--text-color);
}
.card-title {
	margin-top: 32px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.67;
	margin-bottom: 8px;
	color: var(--text-color);
}
.card-subtitle {
	margin-bottom: 16px;
	font-family: "Montserrat";
	line-height: 2.5;
	color: var(--text-color);
}
.price-list {
	display: flex;
	gap: 72px;
}

.price-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc((100% - 72px * 2) / 3);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
}

.price-item:hover {
	background-color: var(--green-color);
}
.price-item:hover .card-title,
.price-item:hover .price-text,
.price-item:hover .price-month,
.price-item:hover .price-btn,
.price-item:hover .card-subtitle {
	color: var(--sm-color);
}
.price-item:hover .price-btn {
	color: var(--green-color);
	background-color: var(--sm-color);
}
.price-item:hover .dollar-svg,
.price-item:hover .price-svg {
	fill: var(--sm-color);
}
.price-subtitle {
}
.price-btn {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.22;
	padding: 11px 18px;
	background: var(--green-color);
	border-radius: 8px;
	margin-top: 14px;
	margin-bottom: 32px;
	transition: all 0.3s ease-in-out;
	color: var(--btn-color-text);
}
.price-item:hover .price-btn:active {
	color: #ffffff;
	background-color: var(--btn-active-color);
}
.item-title {
	line-height: 1.67;
	color: var(--text-color);
	margin-bottom: 8px;
}
.item-subtitle {
	font-family: "Montserrat";
	line-height: 2.5;
	color: var(--text-color);
}

.price-text {
	font-family: "Montserrat";
	font-weight: 500;
	line-height: 1.38;
	letter-spacing: 0.2px;
	color: var(--text-color);
	margin-bottom: 16px;
}
.price-box-svg {
	display: flex;
	position: relative;
	margin-bottom: 16px;
}
.dollar-svg {
	fill: var(--green-color);
	position: absolute;
	left: 59px;
	top: 24px;
}
.dollar-svg.left {
	left: 90px;
}
.price-svg {
	fill: var(--green-color);
}
.price-month {
	font-family: "Montserrat";
	line-height: 1.19;
	letter-spacing: 0.1px;
	color: #afafaf;
	margin-top: 57px;
	margin-left: 7px;
}

/*------------------------------------------------------------------*/
fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

.star-cb-group {
	font-size: 0;
	unicode-bidi: bidi-override;
	direction: rtl;
}

.star-cb-group > input {
	display: none;
}

.star-cb-group > input + label {
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	width: 1em;
	white-space: nowrap;
	cursor: pointer;
}

.star-cb-group > input + label:before {
	display: inline-block;
	text-indent: 9999px;
	content: "\2606";
	color: #f3cd03;
}

.star-cb-group * {
	font-size: 1.5rem;
}

.star-cb-group > input:checked ~ label:before,
.star-cb-group > input + label:hover ~ label:before,
.star-cb-group > input + label:hover:before {
	content: "\2605";
	color: #f3cd03;
}

.reviews {
	padding-bottom: 100px;
}
.reviews-title {
	font-size: 32px;
	line-height: 1.78;
	letter-spacing: 0.2px;
	color: var(--text-color);
	text-align: center;
}
.reviews-subtitle {
	max-width: 537px;
	margin: 0 auto;
	font-weight: 500;
	line-height: 1.75;
	text-align: center;
	letter-spacing: 0.2px;
	color: var(--text-color);
}
.reviews-list {
	margin-top: 40px;
	display: flex;
	gap: 64px;
	flex-wrap: wrap;
}
.reviews-item {
	padding: 28px 26px;
	width: calc((100% - 64px * 2) / 3);
	border: 1px solid #dedede;
	border-radius: 5px;
}
.reviews-item-text {
	margin: 16px 0;
	line-height: 1.75;
	letter-spacing: 0.2px;
	color: #737373;
}
.reviews-box-text {
	letter-spacing: 0.2px;
}
.reviews-box-img {
	display: flex;
	gap: 14px;
}
.worker-name {
	font-weight: 600;
	line-height: 1.5;
	color: #02897a;
}
.worker-profession {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.71;
	color: var(--profession-color);
}
/*------------------------------------------------------------------*/
.join {
	padding-bottom: 100px;
}
.container-join {
	background-color: var(--green-color);
	width: 968px;
	height: 345px;
	border-radius: 32px;
	margin: 0 auto;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.join-box {
	margin-left: 51px;
}
.join-title {
	max-width: 510px;
	font-weight: 600;
	font-size: 32px;
	line-height: 151.4%;
	color: var(--btn-color-text);
	margin-bottom: 46px;
}
.join-btn {
	padding: 10px 34px;
	border-radius: 8px;
	background-color: var(--btn-color-text);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5;
	color: var(--green-color);
	transition: all 0.3s ease-in-out;
}
.join-btn:hover {
	background-color: var(--btn-hover-color);
	color: var(--btn-color-text);
}
.join-btn:active {
	background-color: var(--btn-active-color);
}
.join-img {
}
/*------------------------------------------------------------------*/
.footer {
	padding-bottom: 40px;
}
.footer-container {
	display: flex;
}
.footer-box-sm {
}
.footer-logo {
	font-weight: 700;
	font-size: 30px;
	line-height: 0.93;
	color: var(--logo-color);
}
.logo-svg {
}
.footer-list-sm {
	display: flex;
	gap: 16px;
	margin-top: 18px;
}
.item-sm {
	width: 40px;
	height: 40px;
}

.sm-link {
	padding: 8px;
	border-radius: 50%;
	background: var(--sm-color);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}
.sm-link:hover {
	background-color: var(--sm-hover-bg);
	border-radius: 50%;
}
.sm-svg {
	display: flex;
	fill: var(--green-color);
	transition: all 0.3s ease-in-out;
}
.footer-box-resource {
	margin-left: 146px;
}
.footer-box-legal {
	margin-left: 129px;
	margin-right: 83px;
}
.footer-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	color: var(--text-color);
	margin-bottom: 8px;
}
.footer-text {
	line-height: 2.19;
	color: var(--text-color);
	position: relative;
}
.footer-text:hover {
	text-decoration: underline;
}
.footer-box-form {
}
.footer-title {
}
.footer-input {
}
.footer-input {
	width: 100%;
	height: 48px;
	display: block;
	border: 1px solid #bcd0e5;
	border-radius: 4px;
	background-color: transparent;
	padding-left: 42px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	color: var(--profession-color);
}
.footer-input::placeholder {
	color: var(--green-color);
}
.box-username {
	margin-top: 30px;
	margin-bottom: 25px;
	position: relative;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.username-icon {
	fill: var(--green-color);
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-username:focus-within .username-icon {
	fill: var(--btn-hover-color);
}
.box-username:focus-within .footer-input::placeholder {
	color: var(--btn-hover-color);
}
.footer-btn {
	font-weight: 700;
	background-color: var(--green-color);
	padding: 8px 15px;
	border-radius: 4px;
	line-height: 1.5;
	text-align: center;
	color: var(--btn-color-text);
	transition: all 0.3s ease-in-out;
}
.footer-btn:hover {
	background-color: var(--btn-hover-color);
	color: var(--btn-color-text);
}
.footer-btn:active {
	background-color: var(--btn-active-color);
}
.footer-right {
	margin-top: 16px;
	text-align: center;
	line-height: 1.88;
	color: var(--text-color);
}
/*------------------------------------------------------------------*/
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 1024px;
	min-height: 650px;
	background: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container {
	padding: 72px 24px 24px 24px;
}
.modal-button {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
	border: none;
	background-color: var(--green-color);
}
.modal-button:focus {
	border: none;
	background-color: var(--green-color);
}
.modal-button:hover,
.modal-button:focus .modal-button-svg {
	fill: #ffffff;
}
.modal-button-svg {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-video {
	position: relative;
	margin: 0 auto;
	width: 900px;
	height: 500px;
}
.item-video iframe {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
